$width-1: 1440px;
$width-2: 1280px;
$width-3: 960px;
$width-4: 720px;
$width-5: 520px;

$font-SXX: 12px;
$font-SX: 15px;
$font-S: 18px;
$font-M: 21px;
$font-L: 24px;
$font-LX: 32px;
$font-LXX: 72px;
 
$clr-bright: #FBF5D5;
$clr-bright-emph: #EBCB2F;
$clr-darker: #0A0A09;
$clr-dark: #1A1916;
$clr-dark-emph: #7A6831;
$clr-dark-text: #33312B;

html {
    font-size: 15px;
}

body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: $clr-bright; 
    background: $clr-dark;
    min-width: 360px;
}
.bg-bright{
    color: $clr-dark-text; 
    background: $clr-bright;
}
.content{
    max-width: $width-1;
    text-align: center;
    margin: 0 auto;
    padding: 64px 32px; 
}
.width-2{
    max-width: $width-2;
}
.width-3{
    max-width: $width-3;
}
.width-4{
    max-width: $width-4;
}
.width-5{
    max-width: $width-5;
}
h1, h2, h3 {
    text-transform: capitalize;
    color: $clr-bright;
    line-height: 100%;
}
h1{
    text-transform: uppercase;
	font-size: $font-LXX;
    letter-spacing: 4px;
    font-weight: 900;
    margin-bottom: 16px;
}

h2 {
    font-size: $font-LX;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 32px;
}

h3 {
    font-size: $font-L;
    font-weight: 900;
}

h4 {
    font-size: $font-L;
    font-weight: 600;
    opacity: .35;
}
p {
    font-weight: 400;
    font-size: $font-L;
    text-align: left;
    line-height: 150%;
    margin-bottom: 16px;
}
a {
    color: $clr-dark-text;
    font-weight: 700;
    &:focus {
        outline: none;}
        text-decoration: none;
        transition: all 0.25s ease-out; 
    // &:hover {
    //     color: $clr-bright-emph;}   
    p &{
        font-style: italic;
        text-shadow: 0 0 rgba($clr-bright-emph, 0);
        transition:text-shadow .3s ease, color .4s ease;
        &:hover {
            text-shadow: -1px 1px rgba($clr-bright-emph, 1), -2px 2px rgba($clr-bright-emph, 1), -3px 3px rgba($clr-bright-emph, 1), -4px 4px rgba($clr-bright-emph, 1);
        }
    }
    h3 & {
        text-decoration: none; 
        color: rgba($clr-bright, 0.5);
        transition: all 0.35s ease-out;
            &:hover {color: rgba($clr-bright-emph, 1);}   
    }
}

.hr{
    background-color: $clr-bright-emph; 
    height: 2px;
    border-radius: 1px;
    display: block;
    margin-bottom: 16px;  
} 
.img-icon{
    display: block;
    max-width: 256px;
    margin: 64px auto 16px;
    opacity: .35;
    transform: scale(1);
    transition: all 0.35s ease-in; 
    &:hover {
        transform: scale(1.05);
        opacity: 1; }
}
.small-cap {
  font-size: 85%;
  font-weight: 600;
}
footer{
    h2{
        color: $clr-dark-text;
    }
    h4{
        color: $clr-dark-text;
        text-align: center;
    }     
}
#links-intro{
    text-align: center;
    display:inline-block;
    padding: 16px;
    ul{
        width: 100%;
        line-height: 100%;}
    li{
        display:inline-block;
        padding: 32px 16px;}
}
 
#proj-peacenow, .item, .project-page {
    opacity: 0;
    transition: opacity .5s ease-out;
}

.project-box{
    text-align: left;
    background-color: rgba($clr-bright-emph, 0.0);
    padding: 16px 32px;
    border-radius: 8px;
    // opacity: 0;
    ul{
        width: 100%;
        font-size: $font-SX;
        font-weight: 600;
        color: $clr-darker;
        // make them one of the h's
        line-height: 100%;
    }
    li{ 
        display:inline-block;
        padding: 1px 4px 2px;
        background-color: $clr-dark-emph;
        border-radius: 2px;
        margin-right: 2px;
        margin-bottom: 6px;
        transition: all 0.35s ease-in; 
    }
    p{
        font-size: $font-SX;
        color: $clr-bright;}
    .hr{
        margin-top: 8px;
        background-color: $clr-dark-emph;
        transition: all 0.35s ease-in;
    }
    img{
        max-width: 256px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1); 
        opacity: .5;
        transition: all 0.35s ease-in; 
    }
    h3{
        margin-bottom: 16px;
    }
    &:hover{
        background-color: rgba($clr-bright-emph, 0.1);
        img{
            transform: scale(1.05);
            opacity: 1;
        }
        li{
            background-color: $clr-bright-emph;
        }
        .hr{
            background-color: $clr-bright-emph;
        }
    }

}
.project-page{
    padding: 16px 32px 16px 0;
    margin-bottom: 64px;
    p{
        font-size: $font-L;
    }
}
.gallery{
    margin: 32px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img{
        // filter:opacity(30%);
        // color: $clr-bright;
        width: 100%;
        margin-bottom: 32px;
        border-radius: 4px;
        box-shadow: 8px 8px 8px rgba($clr-darker, 0.5);
    }
    a{
        max-width: 30%;
    }
    figure{
        display: none;
    }
}
#proj-info{
    padding-top: 64px;
}


/* 
m e d i a
q u e r i e s
*/

@media screen and (max-width: $width-1) {
}
@media screen and (max-width: $width-3) {
    .gallery{
        a{
            max-width: 48%;
        }
        img{
            margin-bottom: 16px;
        }
    }
}
@media screen and (max-width: $width-4) {
    .gallery{
        a{
            max-width: 100%;
        }
    }
}
@media screen and (max-width: $width-5) {
    .content{
        padding: 32px;
    }
}